<!DOCTYPE html>
<html>
  <head>
    <title>Byteball Unofficial</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" href="https://res.cloudinary.com/dpnrocxf9/image/upload/v1542727708/Byteball%20Board%20Images/orebss5j88kfcdefwepa.jpg" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dpnrocxf9/image/upload/v1542727708/Byteball%20Board%20Images/orebss5j88kfcdefwepa.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dpnrocxf9/image/upload/v1542727708/Byteball%20Board%20Images/orebss5j88kfcdefwepa.jpg">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
